<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Eventos</title>
        <!-- define a viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <!-- define o unicode -->
        <meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{=URL('static','css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{=URL('static','css/estilo.css')}}"/>
		{{include 'web2py_ajax.html'}}
    </head>

<body>
<div class="container banner">
	<!-- <img src="{{=URL('static', 'images/logo.png')}}" alt="Imagem Primos" class="img-responsive"/> -->
		{{include}}
    </div>
</div>

</body>
</html>

